/*************
 Global Styles
 *************/

html,
body,
footer {
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
    background: #FFFFFF;
    text-align: center;
    margin: auto 0;
    font-family: 'Nunito', 'sans-serif';
    text-align: center;
}

.form-control,
.categories,
.form-group {
    margin: auto;
}


/******************
  Header and Nav Bar
  ******************/

.container-fluid.kibblr-top-nav {
    padding-left: 0;
    height: 30px;
}

.navbar-nav {
    display: flex;
    flex-direction: row;
}

a>img.tennis-ball-one {
    width: 40px;
    height: auto;
    position: relative;
    top: 20px;
    left: 5px;
    z-index: 5;
}

a.kibblr-nav {
    padding: .5rem 1rem !important;
    color: #FFFFFF;
    text-transform: uppercase;
}

a.kibblr-nav:hover {
    text-decoration: none;
    color: #f6f06b;
}

.kibblr-header {
    background: #F5F2EC;
    padding: 20px;
}

img.kibblr-header {
    width: 700px;
    height: auto;
}

h2 {
    text-transform: uppercase;
    color: #009966;
    font-size: 23px;
    letter-spacing: 2px;
}


/* Layout for index.html */

.navbar {
    margin-bottom: 10em;
}

.navbar.kibblr-top-nav {
    background: #8BCFB7;
    width: 100vw;
    height: 45px;
}


/*********
Place Links
 **********/

div.place-link-wrapper {
    margin-top: -30px;
    margin-bottom: 20px;
}

img.place-icon-square {
    width: 25px;
    height: auto;
}

img.place-icon-rectangle {
    width: 50px;
    height: auto;
}

a.place-link {
    color: #33CCCC;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 13px;
}

a.place-link:hover {
    text-decoration: underline;
}


/*********
 Search Bar
 **********/

.mainSearch,
.restDisplay {
    margin: 3em 0;
}

form#findPlace {
    width: 100vw;
}

p.kibblr-search {
    text-transform: uppercase;
    color: #39C0C4;
    position: relative;
    top: 8px;
    font-size: 20px;
    letter-spacing: 2px;
}

input.kibblr-search {
    border: 1px solid #8bcfb7;
}

button.kibblr-search {
    background: #8bcfb7;
    color: #FFFFFF;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.searchedPlaces {
    list-style: none;
}


/******************
  Index.html Gallery
  ******************/

h3 {
    margin: auto;
    text-transform: uppercase;
    color: #019966;
    letter-spacing: 3px;
}

.card {
    margin-left: auto;
    margin-right: auto;
    margin-top: 4em;
}


/* Images */

.object-fit-cover {
    width: 100%;
    height: 320px;
    object-fit: cover;
}


/* Sign Up Form */

.form-row {
    text-align: left !important;
}

.signupbutton {
    text-align: center;
}


/* Login Form */

.wrapper {
    margin: 80px auto;
}

.form-signin {
    max-width: 500px;
    padding: 15px 35px 45px;
    margin: auto;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
}